.done-filter-container {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  /* max-width: 100%; */
}

.done-filter-container button {
  background-color: transparent;
  border: 1px solid var(--green-title);
  border-radius: 3px;
  color: var(--green-title);
  margin: 0;
  margin-top: 5%;
  padding: 1.5% 0;
  width: 27%;
}

.done-filter-container button:focus {
  background-color: var(--green-title);
  color: white;
}

.done-recipe-container {
  background-color: var(--background-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 100vh;
  width: 90%;
}

.individual-done-recipe-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  height: 43%;
  margin: 8% 0;
  width: 45%;
}

.done-recipe-img {
  border-radius: 8px 8px 0 0 ;
  width: 100%;
}

.done-recipe-content {
  display: flex;
  flex-direction: column;
  padding-inline: 8%;
  width: 95%;
}

.done-recipe-title {
  color: var(--title-color);
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.2em;
  margin-top: 8%;
  width: 45%;
}

.done-recipe-title, .done-share-btn {
  background-color: transparent;
  border: none;
}

.done-natio-tag {
  margin-top: 0.8em;
}

.done-natio-tag p, .done-share-date-container p{
  font-size: 0.8em;
}

.done-share-date-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 6%;
}
