.explore-foods-container, .explore-drinks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: auto;
  width: 100%;
}

.explore-foods-btn, .explore-drinks-btn {
  background-color: var(--green-title);
  border: none;
  color: white;
  width: 100%;
}

.explore-foods-btn {
  border: none;
  margin: 0;
  height: 34%;
}

.explore-drinks-btn {
  border: none;
  margin: 0;
  height: 50%;
}

.explore-foods-container button:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('../images/rodion-kutsaev-EPwuZxdketc-unsplash.jpg');
  background-size: cover;
}

.explore-foods-container button:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('../images/pexels-pixabay-414916.jpg');
  background-size: cover;
}

.explore-foods-container button:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('../images/nina-mercado-_qN6tmGjmtg-unsplash.jpg');
  background-size: cover;
}

.explore-drinks-container button:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('../images/cristina-anne-costello-4jsmBl30x_A-unsplash.jpg');
  background-size: cover;
}

.explore-drinks-container button:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('../images/nina-mercado-CnrDuY0tFrg-unsplash.jpg');
  background-size: cover;
}

.explore-foods-icons, .explore-drinks-icons {
  margin-left: 8%;
}

@media (min-width: 1000px) {
  .explore-foods-container, .explore-drinks-container {
    flex-direction: row;
  }

  .explore-foods-btn, .explore-drinks-btn {
    background-position: center;
    height: 100%;
  }
}
