.ingredient-container {
  background-color: var(--backgorund-color);
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 20%;
  width: 95%;
}

.ingredient-individual {
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  margin: 1.5%;
  width: 30%;
}
