.favorite-container {
  background-color: var(--background-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
}

.favorite-individual-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  height: 40%;
  margin: 8% 0;
  width: 45%;
}

.favorite-img {
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.favorite-recipe-name {
  align-self: flex-start;
  background-color: transparent;
  border: none;
  color: var(--title-color);
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.1em;
  margin: 14px 0 0 8px;
}

.favorite-description {
  align-self: flex-start;
  font-size: 0.9em;
  margin: 8px 0 0 6px;
}

.favorite-share-btn {
  border: none !important;
  background-color: transparent;
}

.favorite-share-btn-container {
  display: flex !important;
  justify-content: space-evenly;
  margin-top: 14%;
}

.no-favorite-recipe {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2em;
  margin-top: 50%;
}
