.recipe-container {
  background-color: var(--background-color);
  padding: 3%;
  width: 100%;
}

.category-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--background-color);
  margin: 4% 0 5% 0;
  width: 100%;
}

.category-container button {
  background-color: transparent;
  border: none;
  color: var(--green-title);
  font-family: 'Montserrat', sans-serif;
  margin: 2% 3%;
  padding: .9%;
}

.card-container {
  background-color: var(--background-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-bottom: 15%;
  width: 100%;
}

.individual-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: .8rem;
  margin: 2% 0;
  width: 45%;
}

.card-name {
  color: var(--title-color);
  font-size: 1.1em;
}


.individual-card button, .individual-card img {
  background-color: rgb(255, 255, 255);
  border-radius:  .8rem .8rem 0 0;
  border: none;
}

.individual-card button {
  border-radius: .8rem;
}

.individual-card p {
  padding-top: 8%;
}

@media (min-width: 600px) {
  .category-container {
    margin: 0;
    width: 100%;
  }
  
  .individual-card {
    margin: 2% 1%;
    width: 29%;
  }
}

@media (min-width: 1000px) {
  .category-container {
    margin: 0;
    width: 100%;
  }

  .category-container button {
    color: var(--green-title);
    margin: 2% 3%;
  }

  .category-container button:hover {
    background-color: var(--green-title);
    box-shadow: 0 .5rem 1rem rgba(54, 54, 54, .4);
    border-radius: .8rem;
    color: white;
    margin: 2% 3%;
    padding: 0 1%;
  }

  .individual-card {
    margin: 2% .9%;
    width: 15%;
  }

  .individual-card:hover {
    box-shadow: 0 .5rem 1rem rgba(54, 54, 54, .4);
  }
}