.recipe-container {
  background-color: var(--background-color);
  max-width: 100%;
}

.category-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--background-color);
  margin: 4% 0 5% 0;
  width: 100%;
}

.category-container button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--green-title);
  color: var(--green-title);
  font-family: 'Montserrat', sans-serif;
  margin: 2% 3% 2% 3%;
}

.card-container {
  background-color: var(--background-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}

.individual-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin: 2% 0;
  width: 45%;
}

.card-name {
  color: var(--title-color);
  font-size: 1.1em;
}


.individual-card button, .individual-card img {
  background-color: rgb(255, 255, 255);
  border-radius:  8px 8px 0 0;
  border: none;
}

.individual-card button {
  border-radius: 8px;
}

.individual-card p {
  padding-top: 8%;
}