.header2-container {
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
}

.return-btn-header2 {
  border: none;
  background-color: transparent;
}

.header2-page-name {
  color: var(--green-title);
  margin: 0;
}

.header2-icon {
  margin-right: 3%;
}

@media (min-width: 600px) {
  .header2-container {
    margin: auto;
    width: 70%;
  }
}

@media (min-width: 1000px) {
  .header2-container  {
    margin: auto;
    width: 60%;
  }
}
