.login{
  align-items: center;
  background-image: url('../images/Design\ sem\ nome.png');
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.login-container{
  background-color: var(--background-color);
  box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);
  border-radius: .8rem;
  padding: 15%;
  width: 75%;
}

.login-container, form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  font-family: 'Montserrat', sans-serif;
}

form input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--green-title);
  font-size: 1rem;
  height: 2.3rem;
  margin-top: 8%;
}

form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
}

form input:focus {
  border-bottom: 3px solid var(--green-title);
  outline: none;
  
}

form button {
  background-color: var(--green-title);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
  margin-top: 15%;
  padding: 1%;
  width: 100%;
}

form button:disabled {
  background-color: rgb(199, 204, 188);
}

@media (min-width: 600px) {
  .login {
    background-image: url('../images/pexels-vlada-karpovich-6947188.jpg');
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
  }

  .login-container {
    background-color: rgba(255, 255, 250, 0.9);
    border-radius: 0;
    height: 100%;
    width: 70%;
    position: relative;

    clip-path: polygon(0 0, 85% 0, 95% 100%, 0% 100%);
  }

  .login-box {
    position: absolute;
    top:47%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30%;
  }
  
  form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--green-title);
    font-size: .9rem;
    height: 2.3rem;
    margin-top: 8%;
  }
  
  form button {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .login {
    background-image: url('../images/pexels-vlada-karpovich-6947188.jpg');
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
  }

  .login-container {
    background-color: rgba(255, 255, 250, 0.9);
    border-radius: 0;
    height: 100%;
    width: 70%;
    position: relative;

    clip-path: polygon(0 0, 70% 0, 80% 100%, 0% 100%);
  }

  .login-box {
    position: absolute;
    top:47%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 20%;
  }
  
  form {
    font-family: 'Montserrat', sans-serif;
  }
  
  form input{
    width: 100%;
  }
}