.search-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.search-input {
  background-color: var(--background-color);
  border: 1px solid var(--green-title);
  border-radius: 8px;
  color: var(--title-color);
  height: 40px;
  margin: 8% 0;
  padding: 8px;
  outline: none;
  width: 100%;
}

.search-filter-container {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.search-filter-container label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1em;
  height: 35px;
}

.search-filter-container label p {
  color: var(--green-title);
  margin-left: 2%;
}

.seacrh-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn {
  background-color: var(--background-color);
  border: 1px solid var(--green-title);
  border-radius: 8px;
  color: var(--green-title);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  margin: 4% 0;
  padding: 3%;
  outline: none;
  width: 100%;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  padding: 5px;
  background-clip: content-box;
  border: 1px solid var(--green-title);
  background-color: var(--green-title);
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: var(--title-color);
}

