
footer {
  background-color: rgb(173, 169, 169);
  border: solid none none none;
  bottom: 0;
  color: white;
  display: flex;
  height: 45px;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
}

footer button {
  background: none;
  border: none;
  cursor: pointer;
}

footer input, .footer-drink {
  background-color: turquoise;
  color: red !important;
}

.footer-drink {
  background-color: transparent !important;
  width: fit-content;
  padding: 0;
  margin: 0;
}

.footer-drink svg {
  font-size: 40px;
  color: red !important;
}

