
footer {
  background-color: var(--green-title);
  bottom: 0;
  color: var(--backgorund-color);
  display: flex;
  height: 45px;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
}

footer button {
  background: none;
  border: none;
  cursor: pointer;
}

.footer-icons {
  color: var(--backgorund-color);
  font-size: 1.6em;
}

