.header-container {
  align-items: center;
  background-color: var(--green-title);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
}

.header-icons-and-title {
  align-items: center;
  color: var(--backgorund-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.header-icons-and-title button {
  background-color: transparent;
  border: none;
}

.header-title {
  color: var(--backgorund-color);
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.5em;
  margin: 0;
}

.header-container i {
  color: var(--backgorund-color);
  font-size: 1.5em;
}
