@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500;600&family=Montserrat:wght@300;500;800&family=Nanum+Myeongjo&display=swap');

:root {
  --title-color: rgb(142, 65, 46);
  --green-title: rgb(113, 131, 85);
  --gray-title: rgb(61, 61, 61);
  --cream-color: rgb(231, 216, 201);
  --white-color: white;
  --background-color: rgb(255, 255, 250);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
  padding: 0;
}

* p {
  color: var(--gray-title);
}
